<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/user/settings/addNumber" method="POST">
        <label for="email">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber"><br>
        
        <button type="submit">Add/Change Number</button>
    </form>
</body>
</html>