body {
    background-color: #222222;
    font-family: 'Heebo', sans-serif;
    color: whitesmoke;
}
#search-section {
    height: 100vh;
}
#autocomplete {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7px;
    z-index: 95;
    
}
.header2 {
    position: relative;
    text-align: center;
    font-size: 3vmax;
    left: 50%;
    transform: translateX(-50%);
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

hr {
    width: 100%;
}

input[type=submit] {
    background-color: grey;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
input[type=submit]:hover {
    background-color: #3ad389;
}

input[type=submit]:active {
    background-color: grey;
}

.autocomplete-items {
    color: #222222;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: dodgerblue;
}

#player-tourney-data {
    visibility: visible;
    border: 3px solid gray;
    border-radius: 7px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    margin-top: 10px;
    height: 70vh;
    width: 400px;
}

#player-tourney-data:empty {
    visibility: hidden;
}

#player-tourney-data > p {
    font-size: 12px;
}

#player-tourney-data > h2 {
    text-decoration: underline;
}

.pfp {
    border: 1px solid white;
    border-radius:50% 50% 50% 50%; 
    width:125px;
    height:125px;
    margin: auto;
}

.socials {
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-right: 5px;
    margin-left: 5px;
}

.socials:hover {
    transform: scale(1.1);
}

.pin {
    width:30px;
    height:30px;
    position: absolute;
    top: 5px;
    right: 5px;
    left: auto;
    z-index: 100;
}

.pin:hover {
    cursor: pointer;
}

#card-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.player-card {
    visibility: visible;
    border: 3px solid gray;
    border-radius: 7px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    margin-top: 10px;
    width: 300px;
}

